<div class="index-container">
<h2>Hi <%= current_user.username %>!</h2>

<% if @decks.count > 0 %>
  <h3>Decks Created:</h3>
  <p><% current_user.decks.each do |deck| %></p>
        <a href="/decks/<%=deck.id%>/round/new"><%= deck.theme_name %></a><br>
     <% end %>
<% end %>

<br>
<h3>Decks Played:</h3>
<% @rounds_played.each do |k, v| %>
  <br>
  <h2 class='deck-title'><%= k.upcase %></h2>
  <table>
    <tr>
      <th align="center">Date</th>
      <th>Cards in Deck</th>
      <th>First Guess Correct</th>
      <th>Total Guesses</th>
    </tr>
    <tr align="center">
      <td><%= v[0][:date] %></td>
      <td><%= v[0][:cards_in_deck] %></td>
      <td><%= v[0][:first_guess_correct] %></td>
      <td><%= v[0][:total_guesses] %></td>
    <tr>
  </table>
  <br>
  <% end %>
</div>