<center><a href="/questions/<%= answer.question.id %>"><h1><%= answer.question.title %></h1></a></center>
<h1>Posted By: <%= answer.question.author.username %></h1>
<div class="answer-container">
<div class="answer">
  <p>
    "<%= answer.text %>"<br>
    Answered By: <%= answer.author.username %><br>
    On: <%= answer.created_at.strftime("%B %d, %Y") %><br>
  </p>
</div>

<div class="a-c-form">
  <form class="a-comment" method="GET" action="/comments/new">
    <input type="hidden" name="answer_id" value="<%= answer.id %>">
    <input type="hidden" name="type" value="Answer">
    <input type="submit" value="Comment!">
  </form>
</div>
<br>  
<% if answer.question.author_id == session[:user_id] %>
  <% unless answer.question.favorite_answer.id %>

    <form for="favorite_answer" action="/questions" method='post'>
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="question_id" value="<%= answer.question.id %>">
        <input type="hidden" name="answer_id" value="<%= answer.id %>">
        <input class="favorite" type="image" name="favorite_answer" value="favorite" src="/images/estrella.gif" width="5%" height="5%">
    </form>

  <% end %>
<% end %>

<h2>Comments</h2>
<div class="comments">
  <ul>
    <% if answer.comments.length == 0 %>
      There are no comments!<br>
      Be the first commenter!<br>
    <% end %>
    <% answer.comments.each do |comment| %>
    <li>"<%= comment.text %>" - <%= comment.author.username %></li>
    <% end %>
  </ul>
</div>

<br><br>
<center><img src="/images/hulk.gif"></center><br><br>

